<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agrimatch.post_social.mapper.PostLikeMapper">

    <resultMap id="LikeMap" type="com.agrimatch.post_social.domain.BusPostLike">
        <id column="id" property="id"/>
        <result column="post_id" property="postId"/>
        <result column="user_id" property="userId"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="selectByPostAndUser" resultMap="LikeMap">
        SELECT id, post_id, user_id, is_deleted, create_time, update_time
        FROM bus_post_like
        WHERE post_id = #{postId}
          AND user_id = #{userId}
        LIMIT 1
    </select>

    <insert id="insert" parameterType="com.agrimatch.post_social.domain.BusPostLike"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO bus_post_like
        (post_id, user_id, is_deleted, create_time, update_time)
        VALUES
        (#{postId}, #{userId}, 0, NOW(3), NOW(3))
    </insert>

    <update id="updateIsDeleted">
        UPDATE bus_post_like
        SET is_deleted = #{isDeleted},
            update_time = NOW(3)
        WHERE id = #{id}
    </update>

    <select id="countByPostId" resultType="int">
        SELECT COUNT(1)
        FROM bus_post_like
        WHERE post_id = #{postId}
          AND is_deleted = 0
    </select>

    <select id="selectLikedPostIds" resultType="long">
        SELECT post_id
        FROM bus_post_like
        WHERE user_id = #{userId}
          AND is_deleted = 0
          <if test="postIds != null and postIds.size() &gt; 0">
            AND post_id IN
            <foreach collection="postIds" item="pid" open="(" close=")" separator=",">
                #{pid}
            </foreach>
          </if>
    </select>

    <select id="countByPostIds" resultType="com.agrimatch.post_social.mapper.PostLikeMapper$PostIdCountRow">
        SELECT post_id AS postId, COUNT(1) AS cnt
        FROM bus_post_like
        WHERE is_deleted = 0
          <if test="postIds != null and postIds.size() &gt; 0">
            AND post_id IN
            <foreach collection="postIds" item="pid" open="(" close=")" separator=",">
                #{pid}
            </foreach>
          </if>
        GROUP BY post_id
    </select>

</mapper>


